section{
    width:100%;
    height:100%;
}
body {
    background: #8D99AE;
    margin: 0px;
    padding: 0px
}

.title{
    /* LinkedIn 2 PDF */
    position: absolute;
    width: 498px;
    height: 147px;
    left: 50%;
    top: 203px;
    transform: translate(-249px, 0);

    font-family: Signika Negative;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 79px;
    text-align: center;

    color: #2B2D42;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}


.upload_resume{
    position: absolute;
    width: 370px;
    height: 77px;
    left: 391px;
    top: 360px;
    transform: translate(-185px, 0);
    background: rgba(237, 242, 244, 0.8);
    border-radius: 25px;

}

.box__input{
    position: relative;
    width: 370px;
    height: 77px;
    
    background: rgba(237, 242, 244, 0.8);
    border-radius: 25px;
}


.upload_linkedin{
    position: relative;
    width: 370px;
    height: 77px;
    left: 391px;
    top: 505px;
    transform: translate(-185px, 0);
    background: rgba(237, 242, 244, 0.8);
    border-radius: 25px;
}

.input_linkedin{
    
}

.box__file{
    height: 100%;
    width: 100%;
}

.button{
    border:none;
}